
/* .navbar{
    background-color: black;
}
ul {
    justify-content: space-between;
    display: flex;

} */

/* Header.css */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  header div {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    margin-left: 957px 
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  